@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--cD1: #241414;
	--cD2: #261E1E;
	--cD3: #3D2E2E;
	--cD4: #707070;
	--HeaderHeight: 3.5rem;
	--DokuListsHeight: calc(100vh - var(--HeaderHeight))
}


body{
	@apply
		flex items-center justify-center
		border-4 border-solid border-pink-950
		h-screen w-screen
		overflow-hidden
	;
}